# Python virtual environments
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Airflow logs and default DB
airflow/logs/
airflow/airflow.db
airflow/airflow.cfg
airflow/unittests.cfg

# OS files
.DS_Store
Thumbs.db

# PyCharm / VSCode / IDE
.idea/
.vscode/
